@media (max-width: 1280px) {
  .rs-firework::after {
    left: 240%;
    bottom: 40%;
    display: block;
  }
}

/* Apply 1200 or greater */
@media (min-width: 1200px) {
  .pe-xl-5 {
      padding-right: 2.5rem !important;
  }
}

@media (max-width: 1199px) {
  .testimonial-arrow {
    display: none !important;
  }
  .testimonial-img {
    width: 100%;
  }
  .testimonial-slider-two {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .rs-firework::after {
    left: 80%;
    bottom: 0;
    display: block;
  }
  .d-md-none {
    color: white;
  }
}

@media (max-width: 992px) {
    .rs-hero-shape2 {
      display: none !important;
    }
    .section-desc {
        padding: 20px 0;
    }
    .rs-firework::after {
      left: 90%;
      bottom: 0;
      display: block;
    }
    .d-md-none {
      display: none;
  }
}

/* Apply 992 or greater */
@media (min-width: 992px) {
}

/* Apply 768 or greater */
@media (min-width: 768px) {
  .d-md-block {
      display: block !important;
  }
  .ps-xl-7 {
    padding-left: 4rem !important;
  }
}

@media (max-width: 768px) {
  .know-card-3 {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
    .rs-firework::after {
      display: none;
    }

    .our-company-sec .company-heading-title {
      font-size: 2.6rem;
    }

    .our-company-sec .company-desc {
      font-size: 1.05rem;
    }

    .goal-title {
      font-size: 1.75rem;
    }

    .goal-tagline {
      font-size: 1.30rem;
    }

    .company-img-1 {
      margin-bottom: 50px !important;
    }

    .company-svg-3 {
      margin-top: -5rem !important;
      margin-right: 1.5rem !important;
    }

    .know-title {
      padding-left: 0px !important;
    }
}

